@media screen and (min-width: 768px){		
		.home{
			width: 100%;
		}
		.home_img{
			width: 100%;
		}
		.home_title{
			position: absolute;
			margin: 150px;
			color: #fff;
			margin-left: 39%;
			font-size: 2rem;
			font-family: sans-serif;
		}
		
		#navbar{
			background-color: #000;
			
		}
		#nav_title{
			margin: 10px;
			margin-left: 30px;
			color:#fff;
		}
		#navbar_li{
			margin-left: 60%;
		}
		#nav_item{
			color:#fff;
			margin-left: 15px;
		}
		#nav_link{
			color: #fff;
		}
		#nav_link:hover{
			color: #ddd;
		}
		#home_button1{
			position: absolute;
			border: 1 solid #fff;
			margin: 30px;
			background-color: #fff;
			color: #000;
			margin-top: 19%;
			margin-left: 42%;
		}
		#home_button1:hover{
			background-color:#000;
			color: #fff;
			transition: .5s;
			border: 1px solid #fff;
		}
		#home_button2{
			position: absolute;
			border: 1 solid #fff;
			margin: 30px;
			background-color: #fff;
			color: #000;
			display: inline-block;
			margin-left: 50%;
			margin-top: 19%
		}
		#home_button2:hover{
			background-color:#000;
			color: #fff;
			transition: .5s;
			border: 1px solid #fff;
	}